MONGO_URI=mongodb://localhost:27017/lms
REDIS_HOST=localhost
REDIS_PORT=6379
PORT=7200
ENV=development

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change-me
JWT_REFRESH_EXPIRES_IN=7d

GEMINI_API_KEY=your-gemini-api-key

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

GMAIL_USER=your-email@example.com
GMAIL_APP_PASSWORD=your-app-password
